<style>
     body{
       background-color: forestgreen;
       font-family: 'Lucida Sans', Verdana, Sans-Serif;
     }
     h1{
       text-align: center; color: blue;
     }
     p {
       text-align: justify;
       width: fit-content;
     }
          
    .center{
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
     }
          
    .foto{
        background-color: black;
     }
          
     .foto img{
        width: 23%;
     }
          
</style>